repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(src/tex/ms.tex|src/tex/bib.bib)$
      - id: end-of-file-fixer
        exclude_types: [json, binary]
        exclude: ^(src/tex/ms.tex|src/tex/bib.bib)$
  - repo: https://github.com/PyCQA/isort
    rev: "5.10.1"
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/psf/black
    rev: "22.10.0"
    hooks:
      - id: black-jupyter
  - repo: https://github.com/kynan/nbstripout
    rev: "0.6.1"
    hooks:
      - id: nbstripout
